subnet {{args.subnet}} netmask {{args.netmask}} {
 option routers                  {{args.router}};
 option subnet-mask              {{args.netmask}};
 option domain-name              "{{args.dns_name}}";
 option domain-name-servers       {{args.ext_dns}};
 option time-offset              {{args.time_offset}};    
 range {{args.dhcp_ip_range}};
}

{% for item in args.harware_eths %}

host {{item.name}} {
 hardware ethernet {{item.int.mac}}
 fixed-address {{item.int.ip4}}
}
{% endfor %}
